body {
    --main-color: #205D80;
    --second-color: white;

    background-color: #DaDaDa;
    user-select: none;
    font-size: 22px;
}

#game {
    color: white;
    height: 100%;
}

#scores {
    height: 20%;
    background-color: var(--second-color);
    color: var(--main-color);
}

.progress {
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 50%;
}

#scolaire .progress-bar {
    border-color: #59C2FF !important;
}

#sante .progress-bar {
    border-color: #FF595F !important;
}

#social .progress-bar {
    border-color: #9659F9 !important;
}

#argent .progress-bar {
    border-color: #D6D62B !important;
}

#dialog {
    height: 25%;
    background-color: var(--main-color);
}

#text {
    transform: translateY(30%);
    padding: 0 20px;
    font-size: 35px;

}

#plateau {
    background-color: var(--second-color);
    height: 55%;
    position: relative;
}

#plateau img {
    width: 200px;
    height: 200px;
}

#de, #oui, #non, #carte, #event {
    position: absolute;
}

#oui {
    right: 5%;
    top: 40%;
    transform: translateY(25%);
}

#non {
    left: 5%;
    top: 40%;
    transform: translateY(25%);
}

#de {
    top: 0;
}

#carte {
    bottom: 2%;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
}

#carte img {
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 2px -2px gray;
}

#event {
    top: 18%;
    right: 10%;
    color: black;
    font-size: 20px;
}

@keyframes goRightKF {
    60% {
        opacity: 1;
    }
    to {
        transform: translate(150%, 0);
        opacity: 0;
    }
}

@keyframes goLeftKF {
    60% {
        transform: rotateY(180deg);
        opacity: 1;
    }
    to {
        transform: translate(-150%, 0);
        opacity: 0;
    }
}

@keyframes goUpKF {
    60% {
        transform: rotateX(180deg);
        opacity: 1;
    }
    to {
        transform: translate(0, -300px);
        opacity: 0;
    }
}

@keyframes deathKF {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0px) translateY(0px);
    }
    20% {
        transform: rotateX(360deg) rotateZ(360deg) translateX(-200px) translateY(-200px);
    }
    40% {
        transform: rotateX(720deg) rotateY(360deg) translateX(200px) translateY(500px);
    }
    60% {
        transform: rotateX(0deg) rotateY(360deg) translateX(500px) translateY(200px);
    }
    80% {
        transform: rotateX(720deg) rotateY(0) translateX(200px) translateY(500px);
        opacity: 1;
    }
    to {
        border-radius: 50%;
        box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0), #FFF 0 -10px 4px, #ff0 0 -20px 10px inset, #ff8000 0 -40px 20px inset, red 0 -55px 40px inset, 5px 5px 15px 5px rgba(0, 0, 0, 0) inset;
        transform: translateX(2000) translateY(2000);
        opacity: 0;
    }
}

@keyframes idleKF {
    0% {
        transform: translateX(0px) translateY(0px) rotateY(0deg);
    }
    25% {
        transform: translateX(150px) translateY(0px) rotateY(0deg);
    }
    30% {
        transform: translateX(150px) translateY(0px) rotateY(180deg);
    }
    75% {
        transform: translateX(-150px) translateY(0px) rotateY(180deg);
    }
    80% {
        transform: translateX(-150px) translateY(0px) rotateY(0deg);
    }
    100% {
        transform: translateX(0px) translateY(0px) rotateY(0deg);
    }
}

.goLeft {
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: easeOutQuad;
    animation-name: goLeftKF;
}

.goRight {
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: easeOutQuad;
    animation-name: goRightKF;
}

.goUp {
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: easeOutQuad;
    animation-name: goUpKF;
}

.death {
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-name: deathKF;
}

.idle {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: idleKF;
}
